<footer class="footer py-3 mt-auto" style="background-color: goldenrod;">
    <div class="container" style="text-align: center;">
        <a href="https://github.com/amavicpos/User-App" style="color: rgba(255, 255, 255, 0.5)">GitHub</a></span> <span><a href="https://www.linkedin.com/in/amaia-vicario-86a6a1254/" style="color: rgba(255, 255, 255, 0.5)">LinkedIn</a></span>
    </div>
</footer>
