<% layout('layouts/boilerplate') %>
    <form action="/users" method="POST" autocomplete="off" enctype="multipart/form-data">
        <div class="form-group container">
            <div class="row">
                <div class="column">
                    <input type="text" name="name" class="form-control" placeholder="Name" required autofocus />
                </div>
                <div class="column">
                    <input type="text" name="email" class="form-control" placeholder="Email" required />
                </div>
                <div class="column">
                    <input type="text" name="interests" class="form-control" placeholder="Interests" required />
                </div>
                <div class="column">
                    <input type="file" name="image" accept="image/*">
                </div>
                <div class="column">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
