<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User App</title>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div>
        <div class="d-flex flex-row">
            <div>
                <%= user.name %><br>
                <%= user.email %><br>
                <%= user.interest %><br>
                <img src=<%= user.picture.image.srcUrl %> alt="">
            </div>
        </div>
        <!-- <form action="/images/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*">
            <button type="submit">Upload</button>
        </form> -->
        <a class="btn btn-primary" href="/users">All profiles</a>
    </div>
</body>

</html>
